*
{
   font: Georgia;
}
.obrazy{
    width: 250px;
    height: 250px;
    font: Georgia;
}
.kon{
    background-color:#C75B39;
    color: white;
    padding: 10px;
    text-align: center;
}
#lew{
    background-color: #FF8A65;
    width: 25%;
    height: 500px;
    padding-top: 50px;
    float: left;
}
#praw{
    background-color: snow;
    width: 75%;
    height: 500px;
    text-align: center;
    padding-top: 50px;
    float: right;
}
img{
    width: 25%;
    margin: 10px;
    box-shadow: 15px 15px 10px dimgray; 
}
li{
    padding: 5px;
}
H3{
    margin-top: 50px;
    margin-bottom: 50px;
}
section{
    display: flex;
    justify-content: center;
}
form{

    justify-content: center;
}
