*{
    font-family: century,serif;
}
header{
    display: flex;
    justify-content: center;
    font-weight: bolder;
}
header,footer{
    background-color: #CCA10B;
    color: white;
    padding: 5px;
    text-decoration:dashed;
    text-align: center;
}
aside{

    background-color: rgb(5, 160, 88);
}
#lewy{
    text-align: left;
    width: 70%;
    height: 620px;
}
#prawy{
    font-family: LucidaConsole,Consolas,Courier New;
    width: 30%;
    height: 600px;
    padding-top: 20px;
    font-size: 14px;
}
#ban{
    font-size: 32px;
    box-shadow: 2px 2px 4px  black;
}
h1{
    padding-left: 30px;
}
.zd{
    border-style: none;
    height: 100px;
    width: 100px;
    padding: 10px;
    margin-left: 30px;
    border-radius: 8px;
    box-shadow: 10px 10px 10px black; 
}
main{
    display: flex;

}